<%= render 'menu' %>

<h1 align="center">Riwayat Pemesanan</h1>
 
<table class="table table-hover">
  <tr>
    <th>Jumlah Tangki</th>
    <th>No. Telepon</th>
    <th>Alamat</th>
    <th></th>
  </tr>
 
  <% @tangkis.each do |tangki| %>
    <tr>
      <td><%= tangki.liter %></td>
      <td><%= tangki.telp %></td>
      <td><%= tangki.alamat %></td>
      <td><%= link_to 'Show', tangki_path(tangki) %></td>
    </tr>
  <% end %>
</table>

<div class="form-group" align="center">
  <a href="/tform" class="btn btn-primary"> Pesan Galon</a>
</div>

<%= render 'footer' %>