<%= render 'menu' %>

<div class="container">
	<div class="row">
		<h1><center><strong>Konfirmasi Pemesanan</center></strong></h1>
		<hr>
		<div class="panel panel-default">
			<div class="panel-body">

				<form class="form-horizontal" action="<%= gconfirm_url %>" method="post">
					<div style="margin:0;padding:0">
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
                  </div>

					<div class="form-group">
						<label class="control-label col-sm-3">Id Galon:</label>
						<div class="col-sm-6">
							<label class="control-label" id="gid" name="pgalon[gid]"><%= @galon.galon_id %></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Jumlah Galon:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= @galon.jgalon %></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3" for="telp">No. Telepon:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= @galon.telp %></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Alamat:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= @galon.alamat%></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Harga:</label>
						<div class="col-sm-6">
							<label class="control-label" id="harga" name="pgalon[harga]"><%= number_to_currency(@pgalon.total) %></label>
						</div>
					</div>
					<div class="card-footer">
                    <input name="submit" type="submit" value="Pesan" class="btn btn-primary btn-block">
                    <a href="#" class="btn btn-danger btn-block"> Batal</a>
                  </div>
				</form>
				<hr>
			</div>
		</div>
	</div>
</div>

<%= render 'footer' %>