<%= render 'menu' %>

<div class="container">
	<div class="row">
		<h1><center><strong>Pemesanan</center></strong></h1>
		<hr>
		<div class="panel panel-default">
			<div class="panel-body">

				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-3">Jumlah Galon:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= @galond.jgalon %></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3" for="telp">No. Telepon:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= @galond.telp %></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Alamat:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= @galond.alamat%></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Harga:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= number_to_currency (@galond.sub_total), unit: "Rp", seperator: "," %></label>
						</div>
					</div>
					<div class="form-group" align="center">
						<a href="/gindex" class="btn btn-primary"> Kembali ke Riwayat</a>
					</div>
				</form>
				<hr>
			</div>
		</div>
	</div>
</div>

<%= render 'footer' %>