<style>
	#error_explanation {
		color: #f00;
		ul {
			list-style: none;
			margin: 0 0 18px 0;
		}
	}

	.field_with_errors {
		@extend .has-error;
	}
</style>

<% if @user.errors.any? %>
<div id="error_explanation">
	<div class="alert alert-danger">
		The form contains <%= pluralize(@user.errors.count, "error") %>.
	</div>
	<ul>
		<% @user.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>