<%= render 'menu' %>

<div class="container">
	<div class="row">
		<h1><center><strong>Konfirmasi Pemesanan</center></strong></h1>
		<hr>
		<div class="panel panel-default">
			<div class="panel-body">

				<form class="form-horizontal" action="<%= tconfirm_url %>" method="post">
					<div class="form-group">
						<label class="control-label col-sm-3">Jumlah Tangki:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= @tangki.liter %></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3" for="telp">No. Telepon:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= @tangki.telp %></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Alamat:</label>
						<div class="col-sm-6">
							<label class="control-label"><%= @tangki.alamat%></label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Harga:</label>
						<div class="col-sm-6">
							<label class="control-label"></label>
						</div>
					</div>
					<div class="card-footer">
                    <input name="submit" type="submit" value="Pesan" class="btn btn-primary btn-block">
                    <a href="#" class="btn btn-danger btn-block"> Batal</a>
                  </div>
				</form>
				<hr>
			</div>
		</div>
	</div>
</div>

<%= render 'footer' %>