<style>
  .form-group input {
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
  }
  .form-group input:optional {
    border-left-color: #999;
  }
  .form-group input:required:valid {
    border-left-color: palegreen;
  }
  .form-group input:invalid {
    border-left-color: salmon;
  }
</style>

<%= render 'menu' %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="card" style="background-color: lightgreen;">
        <div class="card-body">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="card">

                <form accept-charset="UTF-8" action="<%= signup_url %>" method="post">

                  <div style="margin:0;padding:0">
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
                  </div>

                  <div class="card-header" style="background-color: lightblue;">
                    <h3 align="center"><strong>Register</strong></h3>
                    <hr>
                  </div>

                  <div class="card-body">
                    <div class="form-group">
                      <label for="fnama">Nama Lengkap</label>
                      <input type="text" name="user[fnama]" class="form-control" id="fnama" placeholder="Masukkan Nama Lengkap Anda" required>
                    </div>

                    <div class="form-group">
                      <label for="nama">Username</label>
                      <input type="text" name="user[nama]" class="form-control" id="nama" placeholder="Masukkan Username Anda" required>
                    </div>

                    <div class="form-group">
                      <label for="telp">Telepon</label>
                      <input type="text" name="user[telp]" pattern="[0-9]+" class="form-control" id="telp" placeholder="Masukkan No. Telepon Anda" required>
                    </div>

                    <div class="form-group">
                      <label for="alamat">Alamat</label>
                      <input type="text" name="user[alamat]" class="form-control" id="alamat" placeholder="Masukkan Alamat Anda" required>
                    </div>

                    <div class="form-group">
                      <label for="pass">Password</label>
                      <input type="password" name="user[password]" class="form-control" id="password" placeholder="Masukkan Password Anda (Minimal 8 karakter)" minlength="8" required>
                    </div>

                    <div class="form-group">
                      <label for="pass2">Konfirmasi Password</label>
                      <input type="password" name="user[password_confirmation]" class="form-control" id="password_confirmation" placeholder="Konfirmasi Password Anda" minlength="8" required>
                    </div>
                  </div>

                  <div class="card-footer">
                    <input name="submit" type="submit" value="Daftar" class="btn btn-primary btn-block">
                    <a href="/" class="btn btn-danger btn-block"> Batal</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'footer' %>