<head>
  <style>
    footer {
      background: url("/../assets/153535604112210407.jpeg") center center;
      padding: 25px;
    }
  </style>
</head>

<footer class="container-fluid text-center">
  <p>
  	Kontak Kami<br>
  	<i class="fas fa-mobile-alt"></i> Telp : 081234567890<br>
  	<i class="far fa-envelope"></i> E-Mail : air-do@gmail.com<br>
  </p>  
</footer>