<script src="//maps.google.com/maps/api/js?key=AIzaSyAk4wnhTcqLlRvHP_Q4EqKxJnogFWh8704"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({
		provider: {
			disableDefaultUI: true
			// pass in other Google Maps API options here
		},
		internal: {
			id: 'map'
		}
	},
	function(){
		markers = handler.addMarkers(<%=raw @hash.to_json %>);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	}
	);
</script>